<template>
  <div>
    <div class="row">
      <div class="col">
        <!-- Button trigger modal -->
        <button type="button"
                class="btn btn-primary pull-right m-2"
                data-toggle="modal"
                data-target="#add-container">
          Add Container
        </button>

        <!-- Modal -->
        <div id="add-container"
             class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-labelledby="container-title"
             aria-hidden="true">
          <div class="modal-dialog"
               role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 id="container-title"
                    class="modal-title">Add new Container</h4>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="form-horizontal">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name"
                           v-model="name"
                           class="form-control"
                           type="text"
                           aria-describedby="name-help"
                           placeholder="container name">
                    <small id="name-help"
                           class="form-text text-muted">ex: Standard container</small>
                  </div>
                  <div class="form-group">
                    <label for="payload">Payload (in Kilograms)</label>
                    <input id="payload"
                           v-model="payload"
                           type="number"
                           class="form-control"
                           aria-describedby="payload-help"
                           placeholder="container's payload"
                           min="0"
                           step="0.01">
                    <small id="payload-help"
                           class="form-text text-muted">ex: 10000 Kg.</small>
                  </div>
                  <div class="form-group">
                    <label for="capacity">Capacity (in m
                      <sup>3</sup>)
                    </label>
                    <input id="capacity"
                           v-model="capacity"
                           class="form-control"
                           type="number"
                           aria-describedby="capacity-help"
                           placeholder="container's capacity"
                           min="0"
                           step="0.01">
                    <small id="capacity-help"
                           class="form-text text-muted">ex: 50 m
                      <sup>3</sup>.
                    </small>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal">
                    Close
                  </button>
                  <button type="button"
                          class="btn btn-primary"
                          @click="store()">
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col table-responsive">
        <table class="table table-striped table-hover datatable">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Payload</th>
              <th>Capacity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(container, index) in containers"
                :key="index">
              <td scope="row">{{ index+1 }}</td>
              <td>{{ container.name }}</td>
              <td>{{ container.payload }}
                <span class="badge badge-secondary">KG</span>
              </td>
              <td>{{ container.capacity }}
                <span class="badge badge-secondary">m
                  <sup>3</sup>
                </span>
              </td>
              <td>
                <button class="btn btn-danger"
                        type="button"
                        @click="destroy(container, index)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      containers: {},
      name: '',
      payload: 0.0,
      capacity: 0.0,
    };
  },
  created() {
    window.axios.get('/container-meter/containers').then(response => {
      this.containers = response.data.containers;
    });
  },
  mounted() {
    // $(".datatable").DataTable();
  },
  methods: {
    store() {
      window.axios
        .post('/container-meter/containers', {
          name: this.name,
          payload: this.payload,
          capacity: this.capacity,
        })
        .then(response => {
          if (response.data.type === 'success') {
            window.toastr.success(response.data.message);
            this.containers.push(response.data.container);
            this.reset();
            window.$('#add-container').modal('hide');
          } else {
            window.toastr.warning(response.data.message);
          }
        })
        .catch(error => {
          if (error.response.data.errors) {
            // console.log(error.response.data);
            window.toastr.error(error.response.data.errors[1]);
          } else {
            window.toastr.error(error);
          }
        });
    },
    destroy(container, index) {
      window
        .swal({
          title: 'Are you sure?',
          text: 'You want to delete this container ?',
          icon: 'warning',
          buttons: true,
          dangerMode: true,
        })
        .then(willDelete => {
          if (willDelete) {
            window.axios
              .delete('/container-meter/containers/' + container.id)
              .then(response => {
                this.containers.splice(index, 1);
                window.toastr.success(response.data.message);
              })
              .catch(error => {
                window.toastr.error(error);
              });
          }
        });
    },
    reset() {
      this.name = '';
      this.payload = 0.0;
      this.capacity = 0.0;
    },
  },
};
</script>