<template>
  <div>
    <div class="row">
      <div class="col">
        <!-- Button trigger modal -->
        <button type="button"
                class="btn btn-primary pull-right m-2"
                data-toggle="modal"
                data-target="#add-item">
          Add new Item
        </button>

        <!-- Modal -->
        <div id="add-item"
             class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-labelledby="container-title"
             aria-hidden="true">
          <div class="modal-dialog modal-lg"
               role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 id="item-title"
                    class="modal-title">
                  Add new Item
                </h4>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form class="form-horizontal">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="vendor_sku">Vendor SKU</label>
                    <input id="vendor_sku"
                           v-model="vendor_sku"
                           class="form-control"
                           type="text"
                           aria-describedby="name-help"
                           placeholder="vendor sku">
                    <small id="name-help"
                           class="form-text text-muted">
                      ex: sku-1
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="sku">SKU</label>
                    <input id="sku"
                           v-model="sku"
                           class="form-control"
                           type="text"
                           aria-describedby="name-help"
                           placeholder="product sku">
                    <small id="name-help"
                           class="form-text text-muted">
                      ex: sku-1
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title"
                           v-model="title"
                           class="form-control"
                           type="text"
                           aria-describedby="name-help"
                           placeholder="Item title">
                    <small id="name-help"
                           class="form-text text-muted">
                      ex: item 1
                    </small>
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description"
                              v-model="description"
                              cols="30"
                              rows="10"
                              class="form-control"
                              placeholder="type your description">
                    </textarea>
                  </div>
                  <div class="alert alert-info"
                       role="alert">
                    <strong>
                      <i class="fa fa-info-circle"></i>
                    </strong> Insert all values in meters.
                  </div>
                  <h5>
                    <strong>Item dimensions</strong>
                  </h5>
                  <div class="d-flex flex-row">
                    <div class="form-group m-1">
                      <label for="qty">Quantity</label>
                      <input id="qty"
                             v-model.number="qty"
                             class="form-control"
                             type="number"
                             min="0">
                    </div>
                    <div class="form-group m-1">
                      <label for="cost">Cost</label>
                      <input id="cost"
                             v-model.number="cost"
                             class="form-control"
                             type="number"
                             min="0"
                             step="0.01">
                    </div>
                    <div class="form-group m-1">
                      <label for="length">Length</label>
                      <input id="length"
                             v-model.number="length"
                             class="form-control"
                             type="number"
                             min="0"
                             step="0.01">
                      <small id="name-help"
                             class="form-text text-muted">
                        In meters
                      </small>
                    </div>
                    <div class="form-group m-1">
                      <label for="width">Width</label>
                      <input id="width"
                             v-model.number="width"
                             class="form-control"
                             type="number"
                             min="0"
                             step="0.01">
                      <small id="name-help"
                             class="form-text text-muted">
                        In meters
                      </small>
                    </div>
                    <div class="form-group m-1">
                      <label for="height">Height</label>
                      <input id="height"
                             v-model.number="height"
                             class="form-control"
                             type="number"
                             min="0"
                             step="0.01">
                      <small id="name-help"
                             class="form-text text-muted">
                        In meters
                      </small>
                    </div>
                    <div class="form-group m-1">
                      <label for="weight">Weight</label>
                      <input id="weight"
                             v-model.number="weight"
                             class="form-control"
                             type="number"
                             min="0"
                             step="0.01">
                      <small id="name-help"
                             class="form-text text-muted">
                        in KGs
                      </small>
                    </div>
                  </div>
                  <h6>Volume:
                    <strong>{{ volume }}
                      <span class="badge badge-secondary">m
                        <sup>3</sup>
                      </span>
                    </strong>
                  </h6>
                  <hr>
                  <h5>
                    <strong>Carton/Package dimensions</strong>
                  </h5>
                  <div class="d-flex flex-row">
                    <div class="form-group m-1">
                      <label for="itemsPerCarton">Items per carton</label>
                      <input id="itemsPerCarton"
                             v-model.number="itemsPerCarton"
                             class="form-control"
                             type="number"
                             min="0">
                    </div>
                    <div class="form-group m-1">
                      <label for="cartonLength">Length</label>
                      <input id="cartonLength"
                             v-model.number="cartonLength"
                             class="form-control"
                             type="number"
                             min="0"
                             step="0.01">
                      <small id="name-help"
                             class="form-text text-muted">
                        In meters
                      </small>
                    </div>
                    <div class="form-group m-1">
                      <label for="cartonWidth">Width</label>
                      <input id="cartonWidth"
                             v-model.number="cartonWidth"
                             class="form-control"
                             type="number"
                             min="0"
                             step="0.01">
                      <small id="name-help"
                             class="form-text text-muted">
                        In meters
                      </small>
                    </div>
                    <div class="form-group m-1">
                      <label for="cartonHeight">Height</label>
                      <input id="cartonHeight"
                             v-model.number="cartonHeight"
                             class="form-control"
                             type="number"
                             min="0"
                             step="0.01">
                      <small id="name-help"
                             class="form-text text-muted">
                        In meters
                      </small>
                    </div>
                    <div class="form-group m-1">
                      <label for="grossWeight">Gross Weight</label>
                      <input id="grossWeight"
                             v-model.number="grossWeight"
                             class="form-control"
                             type="number"
                             min="0"
                             step="0.01">
                      <small id="name-help"
                             class="form-text text-muted">
                        Total weight in KGs (carton + items)
                      </small>
                    </div>
                  </div>
                  <h6>CBM (cubic meter):
                    <strong>{{ cbm }}
                      <span class="badge badge-secondary">m
                        <sup>3</sup>
                      </span>
                    </strong>
                  </h6>
                </div>
                <div class="modal-footer">
                  <button type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal">
                    Close
                  </button>
                  <button type="button"
                          class="btn btn-primary"
                          @click="store()">
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col table-responsive">
        <table class="table table-striped table-hover datatable">
          <thead>
            <tr>
              <th>Id</th>
              <th>Vendor Sku</th>
              <th>Sku</th>
              <th>Title</th>
              <th>Quantity</th>
              <th>Cost</th>
              <th>Dimensions</th>
              <th>Volume</th>
              <th>Weight</th>
              <th>Created at</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in items"
                :key="index">
              <td scope="row">{{ index+1 }}</td>
              <td>{{ item.vendor_sku }}</td>
              <td>{{ item.sku }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.qty }}</td>
              <td>{{ item.cost }}
                <span class="badge badge-secondary">$</span>
              </td>
              <td class="d-flex flex-column">
                <span>
                  <strong>Length</strong>: {{ item.length }}
                  <span class="badge badge-secondary">m</span>
                </span>
                <span>
                  <strong>Width</strong>: {{ item.width }}
                  <span class="badge badge-secondary">m</span>
                </span>
                <span>
                  <strong>Height</strong>: {{ item.height }}
                  <span class="badge badge-secondary">m</span>
                </span>
              </td>
              <td>{{ item.volume }}
                <span class="badge badge-secondary">m
                  <sup>3</sup>
                </span>
              </td>
              <td>{{ item.weight }}
                <span class="badge badge-secondary">KG</span>
              </td>
              <td>{{ item.created_at }} by
                <strong>{{ item.user.name }}</strong>
              </td>
              <td>
                <button class="btn btn-danger"
                        type="button"
                        @click="destroy(item, index)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: {},
      vendor_sku: '',
      sku: '',
      title: '',
      description: '',
      qty: 0,
      cost: 0.0,
      length: 0.0,
      width: 0.0,
      height: 0.0,
      weight: 0.0,
      itemsPerCarton: 1,
      cartonLength: 0.0,
      cartonWidth: 0.0,
      cartonHeight: 0.0,
      grossWeight: 0.0,
    };
  },
  computed: {
    volume() {
      return parseFloat(this.width * this.length * this.height).toFixed(3);
    },
    cbm() {
      return parseFloat(
        this.cartonWidth * this.cartonLength * this.cartonHeight
      ).toFixed(3);
    },
  },
  created() {
    window.axios.get('/container-meter/items').then(response => {
      this.items = response.data.items;
    });
  },
  methods: {
    store() {
      window.axios
        .post('/container-meter/items', {
          vendor_sku: this.vendor_sku,
          sku: this.sku,
          title: this.title,
          description: this.description,
          qty: this.qty,
          cost: this.cost,
          length: this.length,
          width: this.width,
          height: this.height,
          weight: this.weight,
          volume: this.volume,
          itemsPerCarton: this.itemsPerCarton,
          cartonLength: this.cartonLength,
          cartonWidth: this.cartonWidth,
          cartonHeight: this.cartonHeight,
          grossWeight: this.grossWeight,
          cbm: this.cbm,
        })
        .then(response => {
          if (response.data.type === 'success') {
            window.toastr.success(response.data.message);
            this.items.push(response.data.item);
            this.reset();
            window.$('#add-item').modal('hide');
          } else {
            window.toastr.warning(response.data.message);
          }
        })
        .catch(error => {
          window.toastr.error(error);
        });
    },
    destroy(item, index) {
      window
        .swal({
          title: 'Are you sure?',
          text: 'You want to delete this item ?',
          icon: 'warning',
          buttons: true,
          dangerMode: true,
        })
        .then(willDelete => {
          if (willDelete) {
            window.axios
              .delete('/container-meter/items/' + item.id)
              .then(response => {
                this.items.splice(index, 1);
                window.toastr.success(response.data.message);
              })
              .catch(error => {
                window.toastr.error(error);
              });
          }
        });
    },
    reset() {
      this.vendor_sku = '';
      this.sku = '';
      this.title = '';
      this.description = '';
      this.qty = '';
      this.cost = 0.0;
      this.length = 0.0;
      this.width = 0.0;
      this.height = 0.0;
      this.weight = 0.0;
      this.itemsPerCarton = 1;
      this.cartonLength = 0.0;
      this.cartonWidth = 0.0;
      this.cartonHeight = 0.0;
      this.grossWeight = 0.0;
    },
  },
};
</script>
<style>
/* .ordered {
  display: flex;
  flex-direction: column;
} */
</style>
