<template>
  <div>
    <div class="row">
      <div class="col-12 table-responsive">
        <fieldset>
          <div class="form-group col-md-3 col-sm-12 col-xs-12">
            <label for="container">Select Container</label>
            <select v-model="orderContainer"
                    class="custom-select"
                    name="container">
              <option v-for="(container, index) in containers"
                      :key="index"
                      :value="container">{{ container.name }}</option>
            </select>
          </div>
        </fieldset>
        <table id="datatable"
               class="table"
               width="100%">
          <thead class="thead-light">
            <tr>
              <th class="text-center">Id</th>
              <th class="text-center">Vendor SKU</th>
              <th class="text-center">SKU</th>
              <th class="text-center">Title</th>
              <!-- <th class="text-center">Description</th> -->
              <th class="text-center">Dimensions</th>
              <th class="text-center">Items per carton</th>
              <th class="text-center">Carton gross weight</th>
              <th class="text-center">Carton CBM</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in items"
                :key="index">
              <td class="text-center">
                <strong>{{ index+1 }}</strong>
              </td>
              <td class="text-center">{{ item.vendor_sku }}</td>
              <td class="text-center">{{ item.sku }}</td>
              <td class="text-center">{{ item.title }}</td>
              <!-- <td class="text-center">{{ item.description }}</td> -->
              <td class="d-flex flex-column text-center">
                <span>
                  <strong>Length</strong>: {{ item.length }}
                  <span class="badge badge-secondary">m</span>
                </span>
                <span>
                  <strong>Width</strong>: {{ item.width }}
                  <span class="badge badge-secondary">m</span>
                </span>
                <span>
                  <strong>Height</strong>: {{ item.height }}
                  <span class="badge badge-secondary">m</span>
                </span>
              </td>
              <td class="text-center">{{ item.cartons[0].items_per_carton }}</td>
              <td class="text-center">{{ item.cartons[0].gross_weight }}
                <span class="badge badge-secondary">KG
                </span>
              </td>
              <td class="text-center">{{ item.cartons[0].cbm }}
                <span class="badge badge-secondary">m
                  <sup>3</sup>
                </span>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-success btn-sm"
                        @click="add(item)">
                  <i class="fa fa-plus-circle"></i> Add
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="card bg-light">
          <div class="card-body table-responsive">
            <h4 class="card-title text-center text-capitalize">
              <i class="fa fa-cart-plus"></i> Order Details
            </h4>
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">Id</th>
                  <th class="text-center">Vendor SKU</th>
                  <th class="text-center">SKU</th>
                  <th class="text-center">Title</th>
                  <th class="text-center"># of cartons</th>
                  <th class="text-center">Items per carton</th>
                  <th class="text-center">Total weight</th>
                  <th class="text-center">Total CBM</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(orderItem, index) in orderItems"
                    :key="index">
                  <td class="text-center">{{ index+1 }}</td>
                  <td class="text-center">{{ orderItem.vendor_sku }}</td>
                  <td class="text-center">{{ orderItem.sku }}</td>
                  <td class="text-center">{{ orderItem.title }}</td>
                  <td class="text-center">{{ orderItem.orderedCartons }}</td>
                  <td class="text-center">{{ orderItem.itemsPerCarton }}</td>
                  <td class="text-center">{{ orderItem.grossWeight }}
                    <span class="badge badge-secondary">KG
                    </span>
                  </td>
                  <td class="text-center">{{ orderItem.CBM }}
                    <span class="badge badge-secondary">m
                      <sup>3</sup>
                    </span>
                  </td>
                  <td class="text-center">
                    <div class="d-flex justify-content-between">
                      <button class="btn btn-sm btn-outline-success"
                              @click="addCarton(orderItem)">
                        <i class="fa fa-plus"></i>
                      </button>
                      <button class="btn btn-sm btn-outline-secondary"
                              @click="removeCarton(orderItem)">
                        <i class="fa fa-minus"></i>
                      </button>
                      <button class="btn btn-danger btn-sm"
                              @click="destroy(index)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <section class="mt-5">
          Total CBM (cubic meter):
          <strong>{{ totalCBM }}%</strong>
          <div class="progress">
            <div :class="cbmClass"
                 :aria-valuenow="totalCBM"
                 :style="cbmStyle"
                 role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <hr> Total weight (payload):
          <strong>{{ totalWeight }}%</strong>
          <div class="progress">
            <div :class="weightClass"
                 :aria-valuenow="totalWeight"
                 :style="weightStyle"
                 role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </section>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 d-flex justify-content-center">
        <button class="btn btn-success btn-lg btn-block"
                @click="postOrder()">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      default: 'create' // edit
    }
  },
  data() {
    return {
      items: [],
      containers: [],
      orderContainer: {},
      orderItems: []
    };
  },
  computed: {
    cbmClass() {
      if (this.totalCBM > 100) {
        return 'progress-bar bg-danger';
      } else if (this.totalCBM > 90 && this.totalCBM < 100) {
        return 'progress-bar bg-warning';
      }
      return 'progress-bar bg-info';
    },
    cbmStyle() {
      return 'width: ' + this.totalCBM + '%;';
    },
    totalCBM() {
      return parseFloat(
        (this.orderItems.reduce((acc, item) => acc + item.CBM, 0) /
          this.orderContainer.capacity) *
          100
      ).toFixed(2);
    },
    weightClass() {
      if (this.totalWeight > 100) {
        return 'progress-bar bg-danger';
      } else if (this.totalWeight > 90 && this.totalWeight < 100) {
        return 'progress-bar bg-warning';
      }
      return 'progress-bar bg-info';
    },
    weightStyle() {
      return 'width: ' + this.totalWeight + '%;';
    },
    totalWeight() {
      return parseFloat(
        (this.orderItems.reduce((acc, item) => acc + item.grossWeight, 0) /
          this.orderContainer.payload) *
          100
      ).toFixed(2);
    }
  },
  created() {
    window.axios.get('/container-meter/items').then(response => {
      this.items = response.data.items;
    });

    window.axios.get('/container-meter/containers').then(response => {
      this.containers = response.data.containers;
      this.orderContainer = this.containers[0];
    });

    setTimeout(() => {
      window.$('#datatable').DataTable({
        paging: false
      });
    }, 1000);
  },
  methods: {
    add(item) {
      var orderedItem = this.orderItems.find(el => {
        return el === item;
      });

      if (orderedItem) {
        return this.addCarton(orderedItem);
      } else {
        window.Vue.set(item, 'orderedCartons', 1);
        window.Vue.set(
          item,
          'itemsPerCarton',
          item.cartons[0].items_per_carton
        );

        window.Vue.set(item, 'grossWeight', item.cartons[0].gross_weight);
        window.Vue.set(item, 'CBM', item.cartons[0].cbm);

        this.orderItems.push(item);
      }
    },
    destroy(index) {
      window
        .swal({
          title: 'Are you sure?',
          text: 'You want to delete this item ?',
          icon: 'warning',
          buttons: true,
          dangerMode: true
        })
        .then(willDelete => {
          if (willDelete) {
            this.orderItems.splice(index, 1);
          }
        });
    },
    addCarton(orderedItem) {
      orderedItem.orderedCartons++;
      orderedItem.itemsPerCarton += orderedItem.cartons[0].items_per_carton;
      orderedItem.grossWeight += orderedItem.cartons[0].gross_weight;
      orderedItem.CBM += orderedItem.cartons[0].cbm;
      orderedItem.CBM = parseFloat(orderedItem.CBM).toFixed(3);
    },
    removeCarton(orderedItem) {
      if (orderedItem.orderedCartons === 1) {
        return this.destroy(orderedItem.index);
      }
      orderedItem.orderedCartons--;
      orderedItem.itemsPerCarton -= orderedItem.cartons[0].items_per_carton;
      orderedItem.grossWeight -= orderedItem.cartons[0].gross_weight;
      orderedItem.CBM -= orderedItem.cartons[0].cbm;
      orderedItem.CBM = parseFloat(orderedItem.CBM).toFixed(3);
    },
    postOrder() {
      window.axios
        .post('/container-meter/orders', {
          container: this.orderContainer.id,
          items: this.orderItems,
          payload: this.totalWeight,
          capacity: this.totalCBM
        })
        .then(response => {
          window.console.log(response.data);
          // window.toaster.success(response);
        })
        .catch(error => {
          window.toaster.error(error);
        });
    }
  }
};
</script>
