<template>
  <div>
    <div>
      <div class="row">
        <div class="col">
          <a href="/container-meter/orders/create"
             class="btn btn-primary pull-right m-2">
            Add new Order
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col table-responsive">
          <table class="table table-striped table-hover datatable">
            <thead>
              <tr>
                <th>Id</th>
                <th>Order</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(order, index) in orders"
                  :key="index">
                <td scope="row">{{ index+1 }}</td>
                <td>{{ order.vendor_sku }}</td>
                <td>
                  <button class="btn btn-danger"
                          type="button"
                          @click="destroy(order, index)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      orders: [],
    };
  },
  created() {
    // get orders
  },
};
</script>