// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
// Variables
// @import "variables";
@import "~bootswatch/dist/flatly/variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootswatch/dist/flatly/bootswatch";
// font-awesome
@import '~font-awesome/scss/font-awesome';
// toastr
@import '~toastr/toastr';
// normalize.css
@import '~normalize.css/normalize.css';
// custom style
.logo {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.8rem;
}

#app {
    min-height: 100vh;
}

main {
    flex: 1;
}